langchain 
langchain-community 
langchain-ollama 
langchain-text-splitters 
PyMuPDF 
pypdf 
pytest 
sentence-transformers
rank_bm25
chromadb
langchain-chroma
markitdown

docx2txt 
unstructured 
openpyxl 
jq
